site_name: 5sigmas - Más señal, menos ruido
site_description: La evolución de las matemáticas, filosofía e ingeniería en el camino al AGI
site_url: "https://5sigmas.com"
theme:
  name: material
  language: es
  logo: assets/logo.svg
  favicon: assets/logo.svg
  font:
    text: Inter
    code: JetBrains Mono
  palette:
    - scheme: default
      primary: cyan
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro
    - scheme: slate
      primary: cyan
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - navigation.instant
    - content.code.copy
    - content.action.edit

extra:
  generator: false  # quita “Made with Material for MkDocs”
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/fjmm1998/

nav:
  - Inicio: index.md
  - Series:
      - Fundamentos de IA e IA generativa:
          - Presentación: series/fundamentos-IA-IAG/00_presentacion_serie.md
      - De las cavernas a la AGI:
          - Presentación: series/from-cave-to-AGI/00_presentacion_serie.md
      - Multimodalidad en IA Generativa:
          - Presentación: series/multimodalidad-IAG/00_presentacion_serie.md
      - Modelos razonadores y tiempo físico:
          - Presentación: series/modelos-razonadores-tiempo-fisico/00_presentacion_serie.md
      - IA, PIB, felicidad y energía:
          - Presentación: series/IA-PIB-felicidad-energia/00_presentacion_serie.md
  - Sobre 5sigmas: meta/about.md
markdown_extensions:
  - meta
  - admonition
  - footnotes
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      auto_title: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true   # hace que MathJax procese los bloques marcados
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - javascripts/external-links.js
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js
  - javascripts/mermaid-init.js
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js


extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - macros
  # - blog        # optional – see below
